{% assign t = site.data.locales[page.lang] | default: site.data.locales[site.default_lang] %}
<footer id="contact">
  <div class="row">
    <span>{{ t.footer_entity }}</span>
    <span>{{ t.footer_location }}</span>
    <span>{{ t.status_reach_us }} <a href="mailto:contact@scitekno.com.br">contact@scitekno.com.br</a></span>
  </div>
  {% if page.permalink contains '/experiment' %}
    {% include experiment-lang-switcher.html %}
  {% else %}
    {% include lang-switcher.html %}
  {% endif %}
</footer>
